@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Source+Sans+Pro|Source+Code+Pro:900');


$color-primary: hsl(5, 76, 50);
$color-primary-dark: hsl(5, 76, 25);
$color-primary-light: hsl(5, 76, 60);

$color-secondary: hsl(215, 76, 50);
$color-secondary-dark: hsl(215, 76, 25);
$color-secondary-light: hsl(215, 76, 75);;

$color-tertiary: hsl(40, 100, 50);
$color-tertiary-dark: hsl(30, 100, 25);
$color-tertiary-light: hsl(30, 100, 60);

$gray: hsl(0, 0, 50);
$gray-dark: hsl(0, 0, 20);
$gray-light: hsl(0, 0, 70);


$font-stack: 'Source Sans Pro',  sans-serif;
$font-header: 'Source Code Pro',  monospace;
$font-weight: 400;
$font-weight-bold: 600;
$font-weight-thin: 200;